# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/
# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties

# iOS/macOS
ios/
macos/

# Misc
.idea/
.DS_Store
.env

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
